.admin-layout {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  background-color: var(--bg-color);
  height: 100%;
  overflow: hidden;
}

.content-area {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

app-footer {
  flex-shrink: 0;
  /* Asegura que el footer no se encoja */
}

/* Asegura que el componente cargado por router-outlet ocupe todo el espacio */
.content-area> :not(router-outlet) {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
}