.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

#arriba {
  font-weight: 700;
  font-size: 1.5rem;
}

#abajo {
  font-weight: 400;
  font-size: 1.1rem;
  display: block;
  margin-top: 0.4rem !important;
}

@media screen and (min-width: 901px) {
  :host ::ng-deep #abajo {
    transform: translateX(5rem) !important;
  }
}

@media screen and (max-width: 900px) {
  :host ::ng-deep #abajo {
    transform: translateX(5rem) !important;
  }
}

@media screen and (max-width: 600px) {
  :host ::ng-deep #abajo {
    transform: translateX(-4.5rem) !important;
  }
}

@media screen and (max-width: 400px) {
  :host ::ng-deep #abajo {
    transform: translateX(-1.5rem) !important;
  }
}
