<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<p class="poppins-bold" id="grande">INICIAR SESIÓN</p>
<br />
<div class="nose">
  <p class="poppins-bold" id="pequeno">Iniciar sesión con dirección de correo electrónico</p>
  <br />
  <input
    class="poppins-medium"
    type="email"
    name="email"
    id="correodeejemplo"
    placeholder="correodeejemplo@gmail.com"
  />
  <br />
  <br />
  <button type="submit" id="registrarse" (click)="onRegister()">Registrarse</button>
</div>
