.dashboard-layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

/* CONTENIDO DERECHA */
.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* CONTENIDO CENTRAL */
.content-wrapper {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

app-footer {
  margin-top: auto;
  margin-bottom: 20px;
}
