/* You can add global styles to this file, and also import other style files */

/* Ocultar la barra de scroll */
html,
body {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

scrollbar-width: none;
