/* You can add global styles to this file, and also import other style files */

/* Importa los estilos de Leaflet para que los mapas funcionen en toda la aplicación */
/* Corrección: Se eliminó la '~' para compatibilidad con Angular CLI moderno */
@import "leaflet/dist/leaflet.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
