html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login-background {
  position: relative;
  width: 111%;
  height: 111%;
  transform: scale(0.9);
  transform-origin: top left;
  background: url('/assets/wallpaper.png') no-repeat center center / cover;
}

app-header-logo {
  position: absolute;
  top: 2%;
  left: 1%;
}

app-login-form {
  position: absolute;
  top: 10%;
  left: 65%;
}

app-social-login-buttons {
  position: relative;
  top: 25%;
  left: 30%;
}

app-call-to-action-footer {
  position: relative;
  top: 29%;
  right: 26%;
}
